@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}
a, a:hover, a:focus, select, selec:hover, selec:focus, button, button:hover, button:focus, input, input:hover, input:focus, option {
	text-decoration: none;
	outline: none;
}
ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
img {
	max-width: 100%;
	border: none;
}
.common-transition {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.invoice-section {
	background-color: #f2f3f8;
	padding: 0px 100px 50px 100px;
}
.header-section {
	padding: 30px 0px;
}
.invoice-content {
	background-color: #ffffff;
}
.table-length {
	display: inline-block;
	vertical-align: middle;
	margin-top:10px;
}
.table-length select.classic {
	border: none;
	border-radius: 20px;
	padding: 5px 50px 5px 10px;
	position:relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	background:url(../img/down-arrow.png) no-repeat 60px 12px #f2f3f8; 
}




.table-length select::-ms-expand {
 display: none;
}
.add-new-invoice-btn {
	display: inline-block;
	margin: 0px 10px;
}
.add-new-invoice-btn > a {
	border-radius: 30px;
	padding: 15px 15px;
	background-color: #5867dd;
	color: #fff;
	display: block;
	font-weight: 600;
}
.table-invoicelist-wrap {
	padding: 35px 70px;
}
.table-head {
	border-bottom: 1px solid #ebedf2;
	padding: 30px 60px;
}
.table-invoicelist thead tr th {
	background: #f4f3f8;
	color: #575962;
}
.table-invoicelist tbody tr td {
	font-weight: 300;
}
.table-invoicelist thead tr th, .table-invoicelist tbody tr td {
	border: none;
	padding: 15px 30px;
	font-size: 20px;
	display: table-cell;
	vertical-align: middle;
	color:#575962;
}
.table-striped tbody tr:nth-of-type(even) {
	background: #faf9fc;
}
.table-striped tbody tr:nth-of-type(odd) {
	background: #ffffff;
}
.jd-badge {
	padding: 5px 10px;
	font-size: 16px;
	text-transform: uppercase;
	border-radius: 20px;
	background: #c4c5d6;
	color: #ffffff;
}
.jd-badge.jd-badge-success {
	background-color: #1bb934;
}
.jd-badge.jd-badge-warning {
	background-color: #fd9a18;
}
.jd-badge.jd-badge-secondary {
	background-color: #b7c0cd;
}
.jd-badge.jd-badge-danger {
	background-color: #ed1c24;
}
.actions-btn {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	display: inline-block;
	cursor: pointer;
	color: #575962;
	position: relative;
	vertical-align: middle;
}
.actions-btn > i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.btn-edit:hover {
	background: #20c997;
	color: #fff;
}
.btn-view:hover {
	background: #f4516c;
	color: #fff;
}
.dataTables-filter {
	display: inline-block;
	vertical-align: middle;
}
.search-wrapper {
	position: relative;
	background: #fff;
	border-radius: 20px;
	border: 1px solid #ebedf2;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: 250ms ease;
}
.search-wrapper.focused {
	width: 200px;
}
.search-wrapper.focused input {
	padding: 0 40px 0 13px;
	width: 100%;
	-webkit-transform: scale(1);
	transform: scale(1);
	color:#575962;
	font-weight:300;
}
.search-wrapper input {
	background: transparent;
	border: 0;
	color: white;
	outline: none;
	height: 40px;
	width: 0;
	overflow: hidden;
	font-weight: 100;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	transition: 275ms ease;
}
.search-wrapper input::-webkit-input-placeholder {
 color: #cccccc;
}
.search-wrapper input:-ms-input-placeholder {
 color: #cccccc;
}
.search-wrapper input::-ms-input-placeholder {
 color: #cccccc;
}
.search-wrapper input::placeholder {
 color: #cccccc;
}
.search-wrapper i {
	position: absolute;
	color: white;
	font-size: 18px;
	top: 50%;
	color: #cfd0d6;
	right: 10px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.tables-paginate {
	margin-top: 30px;
	display: block;
}
.tables-paginate ul li {
	display: inline-block;
	vertical-align: middle;
}
.tables-paginate ul li a {
	display: block;
	width: 40px;
	height: 40px;
	color: #898b96;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	position: relative;
	background-color: transparent;
}
.tables-paginate ul li a.pager-link {
	background: #f2f3f8;
}
.tables-paginate ul li a > span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.tables-paginate ul li a.active, .tables-paginate ul li a:hover, .tables-paginate ul li a:focus {
	background: #5867dd;
	color: #fff;
}
