@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
}
.header {
	background: rgba(255, 255, 255, 0.97);
	box-shadow: 1px 2px 13px rgba(0, 0, 0, 0.11);
	display: inline-block;
	width: 100%;
	position:relative;
}
.header .logo {
	float: left;
	width: auto;
	padding: 10px 0px;
	max-width: 120px;
}
.header .logo img {
	max-width: 100%;
}


.header .menu {
	float: right;
	width: auto;
	margin: 27px 0px;
	
}
.header .menu ul.main-menu {
	display: block;
}
.menu li {
	display: inline-block;
	position: relative;
}
.header .menu li a {
	font-size: 18px;
	color: #666666;
	font-family: sans-serif;
	padding:15px 25px;
	display:block;
}
.header .menu li.login a {background:#F6501A; color:#fff; border-radius:6px; -webkit-border-radius:6px; padding:10px 25px;}
.header .menu li.login a:hover {background-color:#0561b3;}
.header .menu li.login a img {margin-left:5px;}
.header .menu li.dropdown .sub-menu {
	list-style: none;
	max-height: 0px;
	overflow: hidden;
	min-width:200px;
	position: absolute;
	top: 53px;
	left: 0;
	-webkit-transition: max-height 0.4s linear;
	-moz-transition: max-height 0.4s linear;
	transition: max-height 0.4s linear;
	z-index: 999999;
	background:#F6501A;
	padding: 0 10px;
}
.header .menu li.dropdown:hover .sub-menu {visibility:visible; max-height:200px;}
.header .menu ul li .sub-menu::before {
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #0561b3;
    content: "";
    height: 0;
    left: 15px;
    position: absolute;
    top: -8px;
    width: 0;
}
.header .menu ul ul.sub-menu{display: none;position: absolute;}
.header .menu li > ul.sub-menu li {width:100%; text-align:center;}
.header .menu li > ul.sub-menu a {padding:10px; display:block; font-size:14px;color:#fff; background:#0561b3;}
/*.header .menu li > ul.sub-menu a:hover {background-color:#F6501A; color:#fff;}*/
.header ul li:hover ul.sub-menu {display:block;}

/*Menu Close Icon css Start*/
.m-menu-btn {
	cursor: pointer;
	display: none;
	height: 27px;
	float: right;
	position: relative;
	width: 30px;
	z-index: 9999;
	margin-top:20px;
}
.m-menu-btn span {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background: #333;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
.m-menu-btn span:nth-child(1) {
	top: 5px;
}
.m-menu-btn span:nth-child(2), .m-menu-btn span:nth-child(3) {
	top: 18px;
}
.m-menu-btn span:nth-child(4) {
	top: 30px;
}
.m-menu-btn.m-menu-btn-ext span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}
.m-menu-btn.m-menu-btn-ext span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.m-menu-btn.m-menu-btn-ext span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.m-menu-btn.m-menu-btn-ext span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}
/*Menu Close Icon css End*/

.footer {
	padding: 15px 0px;
	text-align: center;
	background: #1f1f1f;
}
.footer p {
	color: #fff;
	font-family: sans-serif;
	font-size: 14px;
	margin-bottom:0px;
}

