@charset "utf-8";
/* CSS Document */


@media screen and (max-width: 1560px) {
.logo-block-row::before {
	background-size: contain;
}
}
 @media screen and (max-width: 1280px) {
body {
	padding: 50px 25px;
}
.content-section {
	padding: 0px 15px;
}
}
 @media screen and (max-width: 1023px) {
.foot-left-col, .foot-right-col {
	font-size: 24px;
}
.supplier a, .customer a {
	font-size: 24px;
}
.supplier-customer-box-row p {
	font-size: 20px;
}
.customer {
	padding: 40px 0 70px 30px;
}
.custom_table_wrapper {
	display: block;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
table.dataTable {
	min-width: 1070px;
}
}
@media screen and (max-width: 767px) {
.top-heading {
	background-size: contain;
	width: 100%;
}
.supplier-customer-box-row {
	margin-bottom: 30px;
}
.supplier-customer-box-row table {
	margin-bottom: 20px;
}
.supplier, .address, .customer {
	min-width: 300px;
}
.container {
	max-width: 100%;
}
}
@media screen and (max-width: 640px) {
.top-heading {
	background-size: contain;
	width: 100%;
}
.top-heading h1 {
	font-size: 26px;
}
.logo {
	max-width: 200px;
}
body {
	padding: 50px 15px;
}
.single_delete_invoice.text-right {
	text-align: center;
}
.top-heading h1 {
	font-size: 18px;
}
}
@media only screen and (min-width: 567px) {
	
.header .menu ul.main-menu {display:block;}	
	
}
@media screen and (max-width: 600px) {
	.header .logo {
		max-width: 80px;
	}
	.m-menu-btn {
		display: block;
	}
	.header .menu ul.main-menu {
		display: none;
	}
	.header .open-menu ul.main-menu  {
		display: block;
	    position: absolute;
		width: 100%;
		background-color: #2286c7;	
		z-index: 9999;
		left: 0;
		top: 86px;
	}
	.header .menu ul.main-menu li {
		float: left;
		width: 100%;
		position: relative;
		margin: 0px;
		border-top: 1px solid #03a9f4a1;
	}
	.header .menu ul.main-menu li a {
	    font-size: 16px;
	    color: #fff;
		padding: 10px;
	}
	.header .menu ul.main-menu li.login a {
	    color: #fff;
	    text-align: center;
	    border-radius: 0px;
	    -webkit-border-radius: 0px;
	    padding: 10px 0px;
	}
	.header .menu ul.main-menu li a:hover {
		background: rgba(255, 255, 255, 0.1);
	}


	.header ul li:hover ul.sub-menu {
		display:none;
	}
	.header ul.main-menu li.open ul.sub-menu {
		display:block;
		position: relative;
	}
	.header .menu li > ul.sub-menu li {
	    text-align: left; 
	}
	.header .menu ul.sub-menu li a {
	   padding: 10px 30px;
	}
	.menu-item-has-children:before {
	    position: absolute;
	    right: 0;
	    top: 0;
	    content: "\e114";
	    font-family: 'Glyphicons Halflings';
	    width: 30px;
    	padding: 12px 30px;
    	color: #fff;
	}
	.menu-item-has-children.open:before {
	  
	    content: "\e113";
	    
	}
	.header .menu ul li .sub-menu:before {
	    display: none;
	}


}
