@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'Roboto Slab Regular';
    src: url('../../assets/fonts/roboto-slab/RobotoSlab-Regular.eot');
    src: url('../../assets/fonts/roboto-slab/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/roboto-slab/RobotoSlab-Regular.woff2') format('woff2'),
        url('../../assets/fonts/roboto-slab/RobotoSlab-Regular.woff') format('woff'),
        url('../../assets/fonts/roboto-slab/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab Bold';
    src: url('../../../../assets/fonts/roboto-slab/RobotoSlab-Bold.eot');
    src: url('../../assets/fonts/roboto-slab/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/roboto-slab/RobotoSlab-Bold.woff2') format('woff2'),
        url('../../assets/fonts/roboto-slab/RobotoSlab-Bold.woff') format('woff'),
        url('../../assets/fonts/roboto-slab/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab Thin';
    src: url('../../assets/fonts/roboto-slab/RobotoSlab-Thin.eot');
    src: url('../../assets/fonts/roboto-slab/RobotoSlab-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/roboto-slab/RobotoSlab-Thin.woff2') format('woff2'),
        url('../../assets/fonts/roboto-slab/RobotoSlab-Thin.woff') format('woff'),
        url('../../assets/fonts/roboto-slab/RobotoSlab-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab Light';
    src: url('../../assets/fonts/roboto-slab/RobotoSlab-Light.eot');
    src: url('../../assets/fonts/roboto-slab/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
        url('../../assets/fonts/roboto-slab/RobotoSlab-Light.woff2') format('woff2'),
        url('../../assets/fonts/roboto-slab/RobotoSlab-Light.woff') format('woff'),
        url('../../assets/fonts/roboto-slab/RobotoSlab-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates Regular';
    src: url('../../assets/fonts/montserrat/MontserratAlternates-Regular.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/MontserratAlternates-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Thin';
    src: url('../../assets/fonts/montserrat/Montserrat-Thin.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('../../assets/fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url('../../assets/fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates Bold';
    src: url('../../assets/fonts/montserrat/MontserratAlternates-Bold.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/MontserratAlternates-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates ExtraBold';
    src: url('../../assets/fonts/montserrat/MontserratAlternates-ExtraBold.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/MontserratAlternates-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Italic';
    src: url('../../assets/fonts/montserrat/Montserrat-Italic.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates SemiBold';
    src: url('../../assets/fonts/montserrat/MontserratAlternates-SemiBold.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/MontserratAlternates-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat ExtraLightItalic';
    src: url('../../assets/fonts/montserrat/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/Montserrat-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates SemiBoldItalic';
    src: url('../../assets/fonts/montserrat/MontserratAlternates-SemiBoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/MontserratAlternates-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates LightItalic';
    src: url('../../assets/fonts/montserrat/MontserratAlternates-LightItalic.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/MontserratAlternates-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat BoldItalic';
    src: url('../../assets/fonts/montserrat/Montserrat-BoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/Montserrat-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates MediumItalic';
    src: url('../../assets/fonts/montserrat/MontserratAlternates-MediumItalic.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/MontserratAlternates-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates BoldItalic';
    src: url('../../assets/fonts/montserrat/MontserratAlternates-BoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/MontserratAlternates-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates ThinItalic';
    src: url('../../assets/fonts/montserrat/MontserratAlternates-ThinItalic.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/MontserratAlternates-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates ExtraBoldItalic';
    src: url('../../assets/fonts/montserrat/MontserratAlternates-ExtraBoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/MontserratAlternates-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates Thin';
    src: url('../../assets/fonts/montserrat/MontserratAlternates-Thin.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/MontserratAlternates-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('../../assets/fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat SemiBoldItalic';
    src: url('../../assets/fonts/montserrat/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/Montserrat-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat ExtraBold';
    src: url('../../assets/fonts/montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('../../assets/fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat ExtraBoldItalic';
    src: url('../../assets/fonts/montserrat/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/Montserrat-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat BlackItalic';
    src: url('../../assets/fonts/montserrat/Montserrat-BlackItalic.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/Montserrat-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat MediumItalic';
    src: url('../../assets/fonts/montserrat/Montserrat-MediumItalic.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/Montserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Italic';
    src: url('../../assets/fonts/montserrat/MontserratAlternates-Italic.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/MontserratAlternates-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../../assets/fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates ExtraLight';
    src: url('../../assets/fonts/montserrat/MontserratAlternates-ExtraLight.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/MontserratAlternates-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat LightItalic';
    src: url('../../assets/fonts/montserrat/Montserrat-LightItalic.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/Montserrat-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('../../assets/fonts/montserrat/MontserratAlternates-Light.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/MontserratAlternates-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat ExtraLight';
    src: url('../../assets/fonts/montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Black';
    src: url('../../assets/fonts/montserrat/Montserrat-Black.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat ThinItalic';
    src: url('../../assets/fonts/montserrat/Montserrat-ThinItalic.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates ExtraLight';
    src: url('../../assets/fonts/montserrat/MontserratAlternates-ExtraLightItalic.woff2') format('woff2'),
        url('../../assets/fonts/montserrat/MontserratAlternates-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}


/*= Reset CSS 
============= */
html, body {
	background: #2286c70d;
	border: 0;
	margin: 0;
	padding: 0;
}
.content-section img {
	max-width: 100%;
}
.single_invoice_div a, .single_invoice_div a:hover, .single_invoice_div a:focus {
	text-decoration: none;
	outline: none;
}
.single_invoice_div span {
	text-transform: uppercase;
	color: #ccc;
	font-size: 20px;
	display: block;
}
/*body {
	font: 14px "Lato", Arial, sans-serif;
	min-width: 100%;
	min-height: 100%;
	color: #666;
	background-color: #e7e7e8;
	padding: 90px 80px;
	line-height: 40px;
}*/
.content-section {
	background-color: #ffffff;
	padding: 0px 70px;
	border: 1px solid #bdbec1;
	min-height: 600px;
}
.top-heading {
	background: url(../img/ribbon.png) no-repeat center center;
	width: 619px;
	height: 75px;
	background-size: cover;
	text-align: center;
	margin: -37px auto 0;
}
.top-heading h1 {
	color: #fff;
	margin: 0;
	line-height: 70px;
	font-size: 36px;
}
.logo-block-row {
	position: relative;
	text-align: center;
	margin: 10px 0px;
}
.logo-block-row:before {
	position: absolute;
	content: "";
	top: 50%;
	left: 0;
	background: url(../img/logo-block-row-line.png) no-repeat center center;
	width: 100%;
	height: 16px;
	margin-top: -18px;
	z-index: 1;
	background-size: cover;
}
.logo {
	display: inline-block;
	max-width: 300px;
	position: relative;
	z-index: 2;
}
.supplier-customer-box-row table {
	width: 100%;
	border-top: 1px solid #d1d2d4;
	margin-bottom: 50px;
}
.supplier-customer-box-row .left-colum {
	width: 50%;
	border-right: 1px solid #d1d2d4;
	padding: 0px 0px 0px 15px;
	vertical-align: middle;
}
.right-culum {
	width: 50%;
	vertical-align: top;
	padding: 0px;
}
.supplier {
	padding: 50px 0px 15px 0px;
}
.address {
	padding: 15px 0px 15px 0px;
	margin-bottom: 70px;
}
.supplier-customer-box-row span {
	text-transform: uppercase;
	color: #818285;
	font-size: 20px;
	display: block;
	margin-bottom: 10px;
}
.supplier-customer-box-row p {
	font-size: 24px;
	color: #333;
	margin-bottom: 10px;
	line-height: 40px;
}
.supplier a {
	color: #2185c7;
	font-size: 30px;
	display: block;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.address ul {
	list-style: none;
	padding: 0;
}
.address ul li {
	display: block;
}
.address ul li span, .address ul li a {
	display: inline-block;
}
.address ul li a {
	font-size: 24px;
	color: #2186c8;
}
.foot-left-col {
	background: #2186c8;
	padding: 15px 30px;
	font-size: 30px;
	color: #fff;
	border-right: 1px solid #ffffff;
}
.foot-right-col {
	background: #e7e7e8;
	padding: 15px 30px;
	font-size: 30px;
	color: #818285;
	text-align: right;
}
.customer {
	background: #e7e7e8;
	border: 8px solid #bcbdc0;
	padding: 50px 0px 70px 40px;
	max-height: 500px;
	position: relative;
}
.customer:before {
	content: "";
	position: absolute;
	left: -94px;
	top: -8px;
	width: 94px;
	height: 86px;
	background: url(../img/customer-ribon.png) no-repeat;
}
.customer a {
	color: #000;
	font-size: 30px;
	display: block;
	margin-bottom: 10px;
}
.description-amount-table-row table {
	width: 100%;
	margin-bottom: 50px;
	width: 100%;
}
.description-amount-table-row table thead {
	background-color: #231f20;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: normal;
}
.description-amount-table-row table th, .description-amount-table-row table td {
	padding: 15px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
}
.description-amount-table-row .col-description {
	border-right: 4px solid #fff;
}
.description-amount-table-row td.col-description {
	color: #000;
	font-size: 18px;
}
.description-amount-table-row .col-amount {
	text-align: right;
}
.description-amount-table-row td.col-amount {
	color: #2186c8;
	font-size: 18px;
}
.description-amount-table-row > table > tfoot tr td {
	padding: 0;
}
.description-amount-table-row .total {
	background-color: #2186c8;
	color: #fff;
	padding: 20px 15px;
	min-width: 150px;
	text-transform: uppercase;
	font-size: 20px;
	float: right;
	text-align: center;
}
.description-amount-table-row .amount {
	width: 100%;
	border-left: 2px solid #fff;
	text-align: right;
}
.contenteditable {
	padding: 50px 0px;
}
.contenteditable p {
	font-size: 20px;
	color: #818285;
	margin: 0px;
	line-height: 30px;
}
.thank-you-text {
	padding: 25px 0px;
	text-align: center;
	font-size: 30px;
	color: #818285;
	border-top: 1px solid #d1d2d4;
}
/*Invocie Archieve*/


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/*body {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

body{
	font: 14px "Lato", Arial, sans-serif;
	min-width: 100%;
	min-height: 100%;
	color: #666;
	background-color: #e7e7e8;
	padding: 90px 80px;
	line-height: 40px;
}*/
a, a:hover, a:focus, select, selec:hover, selec:focus, button, button:hover, button:focus, input, input:hover, input:focus, option {
	text-decoration: none;
	outline: none;
}
ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
img {
	max-width: 100%;
	border: none;
}
.common-transition {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.invoice-section {
	background-color: #f2f3f8;
	padding: 0px 100px 50px 100px;
}
.header-section {
	padding: 30px 0px;
}
.invoice-content {
	background-color: #ffffff;
}
.table-length {
	display: inline-block;
	vertical-align: middle;
	margin-top: 10px;
}
.table-length select.classic {
	border: none;
	border-radius: 20px;
	padding: 5px 50px 5px 10px;
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url(../img/down-arrow.png) no-repeat 60px 12px #f2f3f8;
}
 .table-length select::-ms-expand {
 display: none;
}
.add-new-invoice-btn {
	display: inline-block;
	margin: 0px 10px;
}
.add-new-invoice-btn > a {
	border-radius: 30px;
	padding: 15px 15px;
	background-color: #5867dd;
	color: #fff;
	display: block;
	font-weight: 600;
}
.table-invoicelist-wrap {
	padding: 25px 0px;
}
.table-head {
	border-bottom: 1px solid #ebedf2;
	padding: 30px 60px;
}
.table-invoicelist thead tr th {
	background: #dfe2f8;
	color: #fff ;
	font-family: 'Montserrat Bold';
}
.table-invoicelist tbody tr td {
	font-weight: 300;
	font-family: 'Montserrat Regular';
}
.table-invoicelist thead tr th, .table-invoicelist tbody tr td {
	border: none;
	padding: 15px 20px;
	font-size: 16px;
	display: table-cell;
	vertical-align: middle;
	color: #575962;
	
	
	
}
table.dataTable.no-footer {border-color:#ddd;}
.table-striped tbody tr:nth-of-type(even) {
	background: #faf9fc;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {border:none !important;}
.table-striped tbody tr:nth-of-type(odd), table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
	background: #ffffff;
}
table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {background-color:#f6f6f6;}
table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {background-color:#fff;}
.jd-badge {
	padding: 5px 10px;
	font-size: 16px;
	text-transform: uppercase;
	border-radius: 20px;
	background: #c4c5d6;
	color: #ffffff;
}
.jd-badge.jd-badge-success {
	background-color: #1bb934;
}
.jd-badge.jd-badge-warning {
	background-color: #fd9a18;
}
.jd-badge.jd-badge-secondary {
	background-color: #b7c0cd;
}
.jd-badge.jd-badge-danger {
	background-color: #ed1c24;
}
.actions-btn {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	display: inline-block;
	cursor: pointer;
	color: #575962;
	position: relative;
	vertical-align: middle;
}
.actions-btn > i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.btn-edit:hover {
	background: #20c997;
	color: #fff;
}
.btn-view:hover {
	background: #f4516c;
	color: #fff;
}
.btn-file-pdf:hover {
	background: #F6501A;
	color: #fff;
}
.btn-envelope:hover {
	background: #5867dd;
	color: #fff;
}
.dataTables-filter {
	display: inline-block;
	vertical-align: middle;
}
.search-wrapper {
	position: relative;
	background: #fff;
	border-radius: 20px;
	border: 1px solid #ebedf2;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: 250ms ease;
}
.search-wrapper.focused {
	width: 200px;
}
.search-wrapper.focused input {
	padding: 0 40px 0 13px;
	width: 100%;
	-webkit-transform: scale(1);
	transform: scale(1);
	color: #575962;
	font-weight: 300;
}
.search-wrapper input {
	background: transparent;
	border: 0;
	color: white;
	outline: none;
	height: 40px;
	width: 0;
	overflow: hidden;
	font-weight: 100;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	transition: 275ms ease;
}
.search-wrapper input::-webkit-input-placeholder {
 color: #cccccc;
}
.search-wrapper input:-ms-input-placeholder {
 color: #cccccc;
}
.search-wrapper input::-ms-input-placeholder {
 color: #cccccc;
}
.search-wrapper input::placeholder {
 color: #cccccc;
}
.search-wrapper i {
	position: absolute;
	color: white;
	font-size: 18px;
	top: 50%;
	color: #cfd0d6;
	right: 10px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.invoice-content .tables-paginate {
	margin-top: 30px;
	display: block;
}
.invoice-content .tables-paginate ul li {
	display: inline-block;
	vertical-align: middle;
}
.invoice-content .tables-paginate ul li a {
	display: block;
	width: 40px;
	height: 40px;
	color: #898b96;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	position: relative;
	background-color: transparent;
}
.invoice-content .tables-paginate ul li a.pager-link {
	background: #f2f3f8;
}
.invoice-content .tables-paginate ul li a > span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.invoice-content .dataTables_paginate {margin-top:10px;}
.invoice-content .tables-paginate ul li a.active, .invoice-content .tables-paginate ul li a:hover, .invoice-content .tables-paginate ul li a:focus, .invoice-content .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .invoice-content .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .invoice-content .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
	background: #5867dd;
	color: #fff !important;
}
.invoice-content .dataTables_wrapper .dataTables_paginate .paginate_button {
	width: 40px;
	height: 40px;
	color: #898b96;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	position: relative;
	background-color: #f3f3f8;
	border: none !important;
	margin:0px 5px;
    padding: 10px;
}
.invoice-content .dataTables_wrapper .dataTables_paginate .paginate_button.current {
	background: #5867dd;
	color: #fff !important;
}
.invoice-content .dataTables_wrapper .dataTables_paginate .paginate_button.previous, .invoice-content .dataTables_wrapper .dataTables_paginate .paginate_button.next {
	position: relative;
	text-indent: -9999px;
	background: #f2f3f8;
	color: #898b96 !important;
}
.invoice-content .dataTables_wrapper .dataTables_paginate .paginate_button.previous:after {
	position: absolute;
	content: "\f104";
	font-family: 'Font Awesome 5 Free';
	top: 50%;
	left: 50%;
	font-weight:900;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-indent:0;
}
.invoice-content .dataTables_wrapper .dataTables_paginate .paginate_button.next:after {
	position: absolute;
	content: "\f105";
	font-family: 'Font Awesome 5 Free';
	top: 50%;
	left: 50%;
	font-weight:900;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-indent:0;
}
.invoice-content .dataTables_filter label input {padding:6px 10px; border-radius:20px; border:1px solid #ebedf2;}
.invoice-content .dataTables_filter label input:focus {border-color:#5867dd;}
.invoice-content #table-invoicelist_length.dataTables_length select {
	border: none;
	border-radius: 20px;
	padding: 5px 40px 5px 10px;
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url(../img/down-arrow.png) no-repeat 50px 12px #f2f3f8;
}
#table-invoicelist_info {
	padding: 5px 10px;
	background: #5867dd33;
	margin-top: 10px;
	border-radius:6px;
	-webkit-border-radius:6px;
	
}

/*Tabel Thead Fixed css*/

.table-invoicelist-wrap {overflow-x:auto;}
.table-invoicelist tbody.sticky_thead {
    display:block;
    height:400px;
    overflow:auto;
}
.table-invoicelist thead, .table-invoicelist tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.table-invoicelist thead {
    width: calc( 100% - 1em );
}

 table.dataTable.display tbody tr:first-child td{
    border-top :none !important;
 }
 .invc_rate_cls .acf-input-wrap:after,.invc_totalamount_cls .acf-input-wrap:after, .invc_amount_cls .acf-input-wrap:after {content:"$"; position: absolute; top:12px; left:12px;}