@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: sans-serif;
}
.header {
	background: rgba(255, 255, 255, 0.97);
	box-shadow: 1px 2px 13px rgba(0, 0, 0, 0.11);
	display: inline-block;
	width: 100%;
}
.header .logo {
	float: left;
	width: auto;
	padding: 10px 0px;
	max-width: 120px;
}
.header .logo img {
	max-width: 100%;
}
.header .menu {
	float: right;
	width: auto;
	margin: 27px 0px;
}
.header .menu li {
	display: inline-block;
	
	position: relative;
}
.header .menu li a {
	font-size: 18px;
	color: #666666;
	font-family: sans-serif;
	padding:15px 25px;
	display:block;
}
.header .menu li.login a {background:#F6501A; color:#fff; border-radius:6px; -webkit-border-radius:6px; padding:10px 25px;}
.header .menu li.login a:hover {background-color:#0561b3;}
.header .menu li.login a img {margin-left:5px;}
.header .menu li > ul.sub-menu {
	position: absolute;
	left: 0;
	bottom: -40px;
	min-width: 140px;
	border-radius:6px;
	-webkit-border-radius:6px;
	display:none;
	
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.header .menu li > ul.sub-menu::before {
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #0561b3;
    content: "";
    height: 0;
    left: 15px;
    position: absolute;
    top: -8px;
    width: 0;
}
.header .menu li > ul.sub-menu li {width:100%; text-align:center;}
.header .menu li > ul.sub-menu a {padding:10px; display:block; font-size:14px; background-color:#0561b3; color:#fff;}
.header .menu li > ul.sub-menu a:hover {background-color:#0561b3; color:#fff;}
.header ul.menu li:hover ul.sub-menu {display:block; }
.footer {
	padding: 15px 0px;
	text-align: center;
	background: #1f1f1f;
}
.footer p {
	color: #fff;
	font-family: sans-serif;
	font-size: 14px;
	margin-bottom:0px;
}
