@charset "utf-8";
/* CSS Document */

/*= Reset CSS 
============= */
html, body {
	background: #e6e6e6;
	border: 0;
	margin: 0;
	padding: 0;
}
.content-section img {
	max-width: 100%;
}
.single_invoice_div a, .single_invoice_div a:hover, .single_invoice_div a:focus {
	text-decoration: none;
	outline: none;
}
.single_invoice_div span {
	text-transform: uppercase;
	color: #ccc;
	font-size: 20px;
	display: block;
}
/*body {
	font: 14px "Lato", Arial, sans-serif;
	min-width: 100%;
	min-height: 100%;
	color: #666;
	background-color: #e7e7e8;
	padding: 90px 80px;
	line-height: 40px;
}*/
.content-section {
	background-color: #ffffff;
	padding: 0px 70px;
	border: 1px solid #bdbec1;
	min-height: 600px;
}
.top-heading {
	background: url(../img/ribbon.png) no-repeat center center;
	width: 619px;
	height: 75px;
	background-size: cover;
	text-align: center;
	margin: -37px auto 0;
}
.top-heading h1 {
	color: #fff;
	margin: 0;
	line-height: 70px;
	font-size: 36px;
}
.logo-block-row {
	position: relative;
	text-align: center;
	margin: 10px 0px;
}
.logo-block-row:before {
	position: absolute;
	content: "";
	top: 50%;
	left: 0;
	background: url(../img/logo-block-row-line.png) no-repeat center center;
	width: 100%;
	height: 16px;
	margin-top: -18px;
	z-index: 1;
	background-size: cover;
}
.logo {
	display: inline-block;
	max-width: 300px;
	position: relative;
	z-index: 2;
}
.supplier-customer-box-row table {
	width: 100%;
	border-top: 1px solid #d1d2d4;
	margin-bottom: 50px;
}
.left-colum {
	width: 50%;
	border-right: 1px solid #d1d2d4;
	padding: 0px 0px 0px 15px;
	vertical-align: top;
}
.right-culum {
	width: 50%;
	vertical-align: top;
	padding: 0px;
}
.supplier {
	padding: 50px 0px 15px 0px;
}
.address {
	padding: 15px 0px 15px 0px;
	margin-bottom: 70px;
}
.supplier-customer-box-row span {
	text-transform: uppercase;
	color: #818285;
	font-size: 20px;
	display: block;
	margin-bottom: 10px;
}
.supplier-customer-box-row p {
	font-size: 24px;
	color: #333;
	margin-bottom: 10px;
	line-height: 40px;
}
.supplier a {
	color: #2185c7;
	font-size: 30px;
	display: block;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.address ul {
	list-style: none;
	padding: 0;
}
.address ul li {
	display: block;
}
.address ul li span, .address ul li a {
	display: inline-block;
}
.address ul li a {
	font-size: 24px;
	color: #2186c8;
}
.foot-left-col {
	background: #2186c8;
	padding: 15px 30px;
	font-size: 30px;
	color: #fff;
	border-right: 1px solid #ffffff;
}
.foot-right-col {
	background: #e7e7e8;
	padding: 15px 30px;
	font-size: 30px;
	color: #818285;
	text-align: right;
}
.customer {
	background: #e7e7e8;
	border: 8px solid #bcbdc0;
	padding: 50px 0px 70px 40px;
	max-height: 500px;
	position: relative;
}
.customer:before {
	content: "";
	position: absolute;
	left: -94px;
	top: -8px;
	width: 94px;
	height: 86px;
	background: url(../img/customer-ribon.png) no-repeat;
}
.customer a {
	color: #000;
	font-size: 30px;
	display: block;
	margin-bottom: 10px;
}
.description-amount-table-row table {
	width: 100%;
	margin-bottom: 50px;
	width: 100%;
}
.description-amount-table-row table thead {
	background-color: #231f20;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: normal;
}
.description-amount-table-row table th, .description-amount-table-row table td {
	padding: 15px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
}
.description-amount-table-row .col-description {
	border-right: 4px solid #fff;
}
.description-amount-table-row td.col-description {
	color: #000;
	font-size: 18px;
}
.description-amount-table-row .col-amount {
	text-align: right;
}
.description-amount-table-row td.col-amount {
	color: #2186c8;
	font-size: 18px;
}
.description-amount-table-row > table > tfoot tr td {
	padding: 0;
}
.description-amount-table-row .total {
	background-color: #2186c8;
	color: #fff;
	padding: 20px 15px;
	min-width: 150px;
	text-transform: uppercase;
	font-size: 20px;
	float: right;
	text-align: center;
}
.description-amount-table-row .amount {
	width: 100%;
	border-left: 2px solid #fff;
	text-align: right;
}
.contenteditable {
	padding: 50px 0px;
}
.contenteditable p {
	font-size: 20px;
	color: #818285;
	margin: 0px;
	line-height: 30px;
}
.thank-you-text {
	padding: 25px 0px;
	text-align: center;
	font-size: 30px;
	color: #818285;
	border-top: 1px solid #d1d2d4;
}


/*Invocie Archieve*/


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/*body {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

body{
	font: 14px "Lato", Arial, sans-serif;
	min-width: 100%;
	min-height: 100%;
	color: #666;
	background-color: #e7e7e8;
	padding: 90px 80px;
	line-height: 40px;
}*/
a, a:hover, a:focus, select, selec:hover, selec:focus, button, button:hover, button:focus, input, input:hover, input:focus, option {
	text-decoration: none;
	outline: none;
}
ul {
	margin: 0;
	list-style: none;
	padding: 0;
}
img {
	max-width: 100%;
	border: none;
}
.common-transition {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.invoice-section {
	background-color: #f2f3f8;
	padding: 0px 100px 50px 100px;
}
.header-section {
	padding: 30px 0px;
}
.invoice-content {
	background-color: #ffffff;
}
.table-length {
	display: inline-block;
	vertical-align: middle;
	margin-top:10px;
}
.table-length select.classic {
	border: none;
	border-radius: 20px;
	padding: 5px 50px 5px 10px;
	position:relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	background:url(../img/down-arrow.png) no-repeat 60px 12px #f2f3f8; 
}




.table-length select::-ms-expand {
 display: none;
}
.add-new-invoice-btn {
	display: inline-block;
	margin: 0px;
}
.add-new-invoice-btn > a {
	border-radius: 30px;
	padding: 15px 15px;
	background-color: #5867dd;
	color: #fff;
	display: block;
	font-weight: 600;
}
.table-invoicelist-wrap {
	padding: 25px 0px;
}
.table-head {
	border-bottom: 1px solid #ebedf2;
	padding: 30px 60px;
}
.table-invoicelist thead tr th {
	background: #f4f3f8;
	color: #575962;
}
.table-invoicelist tbody tr td {
	font-weight: 300;
}
.table-invoicelist thead tr th, .table-invoicelist tbody tr td {
	border: none;
	padding: 15px 30px;
	font-size: 20px;
	display: table-cell;
	vertical-align: middle;
	color:#575962;
}
.table-striped tbody tr:nth-of-type(even) {
	background: #faf9fc;
}
.table-striped tbody tr:nth-of-type(odd) {
	background: #ffffff;
}
.jd-badge {
	padding: 5px 10px;
	font-size: 16px;
	text-transform: uppercase;
	border-radius: 20px;
	background: #c4c5d6;
	color: #ffffff;
}
.jd-badge.jd-badge-success {
	background-color: #1bb934;
}
.jd-badge.jd-badge-warning {
	background-color: #fd9a18;
}
.jd-badge.jd-badge-secondary {
	background-color: #b7c0cd;
}
.jd-badge.jd-badge-danger {
	background-color: #ed1c24;
}
.actions-btn {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	display: inline-block;
	cursor: pointer;
	color: #575962;
	position: relative;
	vertical-align: middle;
}
.actions-btn > i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.btn-edit:hover {
	background: #20c997;
	color: #fff;
}
.btn-view:hover {
	background: #f4516c;
	color: #fff;
}

.btn-file-pdf:hover {
	background: #F6501A;
	color: #fff;
}
.btn-envelope:hover {
	background: #5867dd;
	color: #fff;
}

.dataTables-filter {
	display: inline-block;
	vertical-align: middle;
}
.search-wrapper {
	position: relative;
	background: #fff;
	border-radius: 20px;
	border: 1px solid #ebedf2;
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: 250ms ease;
}
.search-wrapper.focused {
	width: 200px;
}
.search-wrapper.focused input {
	padding: 0 40px 0 13px;
	width: 100%;
	-webkit-transform: scale(1);
	transform: scale(1);
	color:#575962;
	font-weight:300;
}
.search-wrapper input {
	background: transparent;
	border: 0;
	color: white;
	outline: none;
	height: 40px;
	width: 0;
	overflow: hidden;
	font-weight: 100;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	transition: 275ms ease;
}
.search-wrapper input::-webkit-input-placeholder {
 color: #cccccc;
}
.search-wrapper input:-ms-input-placeholder {
 color: #cccccc;
}
.search-wrapper input::-ms-input-placeholder {
 color: #cccccc;
}
.search-wrapper input::placeholder {
 color: #cccccc;
}
.search-wrapper i {
	position: absolute;
	color: white;
	font-size: 18px;
	top: 50%;
	color: #cfd0d6;
	right: 10px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.tables-paginate {
	margin-top: 30px;
	display: block;
}
.tables-paginate ul li {
	display: inline-block;
	vertical-align: middle;
}
.tables-paginate ul li a {
	display: block;
	width: 40px;
	height: 40px;
	color: #898b96;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	position: relative;
	background-color: transparent;
}
.tables-paginate ul li a.pager-link {
	background: #f2f3f8;
}
.tables-paginate ul li a > span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
.tables-paginate ul li a.active, .tables-paginate ul li a:hover, .tables-paginate ul li a:focus {
	background: #5867dd;
	color: #fff;
}
