/*!
Theme Name: Jdsofttech New
Theme URI: http://underscores.me/
Author: jdsofttech
Author URI: http://underscores.me/
Description: This is Theme for Invoice
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: jdsofttech
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Jdsofttech is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

@font-face {
    font-family: 'Roboto Slab Regular';
    src: url('assets/fonts/roboto-slab/RobotoSlab-Regular.eot');
    src: url('assets/fonts/roboto-slab/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/roboto-slab/RobotoSlab-Regular.woff2') format('woff2'),
        url('assets/fonts/roboto-slab/RobotoSlab-Regular.woff') format('woff'),
        url('assets/fonts/roboto-slab/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab Bold';
    src: url('assets/fonts/roboto-slab/RobotoSlab-Bold.eot');
    src: url('assets/fonts/roboto-slab/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/roboto-slab/RobotoSlab-Bold.woff2') format('woff2'),
        url('assets/fonts/roboto-slab/RobotoSlab-Bold.woff') format('woff'),
        url('assets/fonts/roboto-slab/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab Thin';
    src: url('assets/fonts/roboto-slab/RobotoSlab-Thin.eot');
    src: url('assets/fonts/roboto-slab/RobotoSlab-Thin.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/roboto-slab/RobotoSlab-Thin.woff2') format('woff2'),
        url('assets/fonts/roboto-slab/RobotoSlab-Thin.woff') format('woff'),
        url('assets/fonts/roboto-slab/RobotoSlab-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab Light';
    src: url('assets/fonts/roboto-slab/RobotoSlab-Light.eot');
    src: url('assets/fonts/roboto-slab/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/roboto-slab/RobotoSlab-Light.woff2') format('woff2'),
        url('assets/fonts/roboto-slab/RobotoSlab-Light.woff') format('woff'),
        url('assets/fonts/roboto-slab/RobotoSlab-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates Regular';
    src: url('assets/fonts/montserrat/MontserratAlternates-Regular.woff2') format('woff2'),
        url('assets/fonts/montserrat/MontserratAlternates-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Thin';
    src: url('assets/fonts/montserrat/Montserrat-Thin.woff2') format('woff2'),
        url('assets/fonts/montserrat/Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('assets/fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('assets/fonts/montserrat/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url('assets/fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('assets/fonts/montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates Bold';
    src: url('assets/fonts/montserrat/MontserratAlternates-Bold.woff2') format('woff2'),
        url('assets/fonts/montserrat/MontserratAlternates-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates ExtraBold';
    src: url('assets/fonts/montserrat/MontserratAlternates-ExtraBold.woff2') format('woff2'),
        url('assets/fonts/montserrat/MontserratAlternates-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Italic';
    src: url('assets/fonts/montserrat/Montserrat-Italic.woff2') format('woff2'),
        url('assets/fonts/montserrat/Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates SemiBold';
    src: url('assets/fonts/montserrat/MontserratAlternates-SemiBold.woff2') format('woff2'),
        url('assets/fonts/montserrat/MontserratAlternates-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat ExtraLightItalic';
    src: url('assets/fonts/montserrat/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('assets/fonts/montserrat/Montserrat-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates SemiBoldItalic';
    src: url('assets/fonts/montserrat/MontserratAlternates-SemiBoldItalic.woff2') format('woff2'),
        url('assets/fonts/montserrat/MontserratAlternates-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates LightItalic';
    src: url('assets/fonts/montserrat/MontserratAlternates-LightItalic.woff2') format('woff2'),
        url('assets/fonts/montserrat/MontserratAlternates-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat BoldItalic';
    src: url('assets/fonts/montserrat/Montserrat-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/montserrat/Montserrat-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates MediumItalic';
    src: url('assets/fonts/montserrat/MontserratAlternates-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/montserrat/MontserratAlternates-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates BoldItalic';
    src: url('assets/fonts/montserrat/MontserratAlternates-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/montserrat/MontserratAlternates-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates ThinItalic';
    src: url('assets/fonts/montserrat/MontserratAlternates-ThinItalic.woff2') format('woff2'),
        url('assets/fonts/montserrat/MontserratAlternates-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates ExtraBoldItalic';
    src: url('assets/fonts/montserrat/MontserratAlternates-ExtraBoldItalic.woff2') format('woff2'),
        url('assets/fonts/montserrat/MontserratAlternates-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates Thin';
    src: url('assets/fonts/montserrat/MontserratAlternates-Thin.woff2') format('woff2'),
        url('assets/fonts/montserrat/MontserratAlternates-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('assets/fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
        url('assets/fonts/montserrat/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat SemiBoldItalic';
    src: url('assets/fonts/montserrat/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('assets/fonts/montserrat/Montserrat-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat ExtraBold';
    src: url('assets/fonts/montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
        url('assets/fonts/montserrat/Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('assets/fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
        url('assets/fonts/montserrat/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat ExtraBoldItalic';
    src: url('assets/fonts/montserrat/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('assets/fonts/montserrat/Montserrat-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat BlackItalic';
    src: url('assets/fonts/montserrat/Montserrat-BlackItalic.woff2') format('woff2'),
        url('assets/fonts/montserrat/Montserrat-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat MediumItalic';
    src: url('assets/fonts/montserrat/Montserrat-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/montserrat/Montserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Italic';
    src: url('assets/fonts/montserrat/MontserratAlternates-Italic.woff2') format('woff2'),
        url('assets/fonts/montserrat/MontserratAlternates-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('assets/fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('assets/fonts/montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates ExtraLight';
    src: url('assets/fonts/montserrat/MontserratAlternates-ExtraLight.woff2') format('woff2'),
        url('assets/fonts/montserrat/MontserratAlternates-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat LightItalic';
    src: url('assets/fonts/montserrat/Montserrat-LightItalic.woff2') format('woff2'),
        url('assets/fonts/montserrat/Montserrat-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('assets/fonts/montserrat/MontserratAlternates-Light.woff2') format('woff2'),
        url('assets/fonts/montserrat/MontserratAlternates-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat ExtraLight';
    src: url('assets/fonts/montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
        url('assets/fonts/montserrat/Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Black';
    src: url('assets/fonts/montserrat/Montserrat-Black.woff2') format('woff2'),
        url('assets/fonts/montserrat/Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat ThinItalic';
    src: url('assets/fonts/montserrat/Montserrat-ThinItalic.woff2') format('woff2'),
        url('assets/fonts/montserrat/Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates ExtraLight';
    src: url('assets/fonts/montserrat/MontserratAlternates-ExtraLightItalic.woff2') format('woff2'),
        url('assets/fonts/montserrat/MontserratAlternates-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

li.invoices_li {
    font-size: 22px;
    font-weight: 700;
    padding: 15px 14px;
    margin: 16px 0;
    list-style: none;
    box-shadow: #ccc 5px 7px 15px -1px;
    border-left: 4px solid #1f7ab6;
    border-radius: 0;
}
li.invoices_li:hover {
    background: #1f79b50f;
    text-decoration: none;
}

a.invoices_a:hover {
	text-decoration: none;
}
.invoices_a span {
    color: #1f79b5;
    display: block;
}
.invoices_a span:hover {
    color: #094e7b;
    text-decoration: none;
}

.custom_stacked_pagination span.page-numbers.current, .custom_stacked_pagination span.page-numbers.current:hover {
    background: #00aced;
    color: #fff;
}

.custom_stacked_pagination.pagination li a, .custom_stacked_pagination.pagination li span {
    color: #00aced;
}

.delete_invoice span {
    text-transform: inherit;
    color: inherit;
    font-size: inherit;
    display: inherit;
}

.modal-tab-border table tr td{
    border-top: 1px solid #eee !important;
}


form.pdf_invoice_form {
    width: 100%;
    height: 100%
}
button.pdf_invoice {
    border: 0px;
    color: #575962;
    background: transparent;
    cursor: pointer;
    width: 100%; 
    height: 100%; 

}
button.pdf_invoice:hover {
    color: #fff;
}
.invoice-content .modal-dialog {
    max-width: 800px;
    margin: 50px auto 0;
    width: 800px;
}
.table-striped tbody .invoice_email_table tr{
    background-color: #fff;
}

/*Body CSS*/
.container-contact100 {
    min-height: 650px;
    margin: 50px 0;
}
.wrap-contact100 {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 30px 60px 30px;
}
.login-error-cls {
    color: #d52323;
    margin-bottom: 20px;
    font-size: 13px;
    text-align: center;
}
.login-error-cls a{
    color: #E91E63;
}



/*Umesh write CSS*/
.entry-header {
    background-color: #eee;
    padding: 10px;
    border: 1px solid #d5dcec;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-top: 10px;
}
.entry-header h1 {
    font-size: 24px;
    margin: 0px;
}
ul.acf-radio-list li {
    margin-right: 15px !important;
}

.acf-form-fields .acf-field {
    border-top: none;
}
.back_invoice span, .delete_invoice span {
    font-size: 16px;
    color: #fff;
}
.back_invoice strong, .delete_invoice strong {
    margin-left: 5px;
    text-transform: capitalize;
}
.back_invoice a, .delete_invoice a {
    background: #F6501A;
    border: none;
}
.back_invoice a:hover, .back_invoice a:focus, .delete_invoice a:hover, .delete_invoice a:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.delete_invoice a {
    background: #c9302c;
}
.back_invoice a:hover, .delete_invoice a:hover {
    background-color: #0561b3;
}

 /*Acf Form Comment */
/*.select2-container--default .select2-selection--single, .acf-input input {
    height: 40px;
    border: none;
    line-height: 40px;
    border-radius: 0;
    border-bottom: 2px solid #ddd;
    background-color:transparent;
    outline: none;
}
.select2-selection--single:focus {border-bottom:2px solid #0561b3;}

.acf-form .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
}
.acf-form .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 53px;
    padding: 0;
}
.acf-field-post-object.acf-field .acf-label {
    margin: 0 0 -10px;
}
.acf-date-picker:after {
    position: absolute;
    right: 9px;
    top: 18px;
    background: url(assets/img/calendar.png) no-repeat center center;
    content: "";
    width: 24px;
    height: 24px;
    pointer-events: none;
}
.acf-actions a {
    position: relative;
}
.acf-actions a:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
}
.acf-form .acf-input .acf-table > tbody > tr > td {
    background-color: transparent;
}
.customer-detail-row table {
    border: 1px solid #ccc;
}
.customer-detail-row table .left-colum {padding:0;}
.customer-detail-row table .left-colum .supplier {
    padding: 25px 15px 25px 15px;
    border-bottom: 1px solid #ccc;
}
.customer-detail-row table .left-colum .address {
    padding: 25px 15px 25px 15px;
    margin-bottom: 30px;
}

/*Umesh write CSS End*/
/* .custom_cals{
position: relative;
}
.acf-field input[type="text"], .acf-field input[type="password"], .acf-field input[type="number"], .acf-field input[type="search"], .acf-field input[type="email"], .acf-field input[type="url"], .acf-field textarea, .acf-field select {background-color:transparent;}
.acf-field .acf-input {padding:0px;}
.acf-input-wrap {padding-top:15px;}
.custom_cals input{
    width: 100%;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 18px 0 0!important;
    margin-bottom: 30px;
}
.custom_cals label {
    position: absolute;
    top: -14px;
    color: #999;
    left: 0;
    font-weight: 300;
    margin:0px;
    pointer-events: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.custom_cals input:focus ~ label{
    
    color: #0561b3;
    font-size:12px;
    font-weight:bold;
    
}
.custom_cals input:focus, .acf-input input:focus{
    border-bottom:2px solid #0561b3;
    
}
#cust_country_cls .acf-label label, #cust_state_cls .acf-label label {
    color: #999;
    font-size: 16px;
    font-weight: 100;
}

/*Custom CSS*/

/*.acf-form .acf-field .acf-label label {
    display: block;
    font-weight: 100;
    margin: 0 0 3px;
    padding: 0;
    color: #999;
}
.acf-form .acf-table th{
    color: #999;
}
/*.cusotm_form_header.entry-header {
    background-color: #207cb9;
    padding: 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-top: 10px;
    text-align: center;
    font-size: 35px;
    border-radius: 20px 20px 0 0;
    color: #fff;
}*/

.cusotm_form_header.entry-header {
    background-color: #2284c61f;
    padding: 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-top: 10px;
    text-align: center;
    font-size: 35px;
    border-radius: 0;
    color: #1f7bb8;
    border: 0px;
    margin-bottom: 20px;
}
.cusotm_form_header.entry-header h1 {
    font-size: 24px;
    margin: 0px;
    font-size: 30px;
}
.cusotm_form_content.entry-content {
    margin-top: 30px;
}
.customer-details .supplier {
    padding: 30px 20px 30px 20px;
    border-bottom:1px solid #d1d2d4;
    background-color:#0561b3;
}
.customer-details.supplier-customer-box-row  .supplier > span, .customer-details.supplier-customer-box-row .supplier > a, .customer-details.supplier-customer-box-row .supplier > p {color:#9bbedc;}
.customer-details.supplier-customer-box-row .supplier > a {color:#fff;}
.customer-details.supplier-customer-box-row .supplier > p {color:#80c3fe;}

.customer-details .address {
    padding: 30px 20px 30px 20px;
    margin-bottom: 20px;
}
.customer-details.supplier-customer-box-row .left-colum {
    width: 50%;
    vertical-align: top;
    padding: 0px;
}
.customer-details.supplier-customer-box-row table {
    width: 100%;
    border: 1px solid #d1d2d4;
    
}

.row.button_bottom_space {
    margin-bottom: 10px;
}


.acf-form label { 
    display: block;
    font-weight: bold;
    margin: 0 0 3px;
    padding: 0;
    font-family: 'Roboto Slab Bold';
}

.acf-form .acf-form-submit {
    width: 113px;
    margin: 30px auto;
}
.acf-form .acf-actions {
    text-align: right;
    z-index: 1;
    margin: 25px 0 0;
}
.acf-form a.acf-button.button.button-primary {
    border: 3px solid transparent;
    color: #ededed;
    background: #404040;
    border-radius: 6px;
    padding: 4px 10px;
    font-family: 'Roboto Slab Light';
}
.acf-form button,
.acf-form input[type="button"],
.acf-form input[type="reset"],
.acf-form input[type="submit"] {
    font-size: 14px;
    line-height: 2.5;
    letter-spacing: 1px;
    padding: 0.2em 1.7em;
    display: inline-block;
    background: transparent;
    color: #404040;
    margin: 0.2em auto;
    font-family: 'Roboto Slab Bold';
    text-align: center;
    font-weight: 700;
    border-radius: 10px;
    text-transform: uppercase;
    border: 3px solid #404040;
    -o-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.acf-form button:hover,
.acf-form input[type="button"]:hover,
.acf-form input[type="reset"]:hover,
.acf-form input[type="submit"]:hover,
.acf-form button:focus,
.acf-form input[type="button"]:focus,
.acf-form input[type="reset"]:focus,
.acf-form input[type="submit"]:focus,
.acf-form button:active,
.acf-form input[type="button"]:active,
.acf-form input[type="reset"]:active,
.acf-form input[type="submit"]:active
 {
    border: 3px solid transparent;
    color: #ededed;
    background: #404040;
}

.acf-form input[type="text"],
.acf-form input[type="email"],
.acf-form input[type="url"],
.acf-form input[type="password"],
.acf-form input[type="search"],
.acf-form input[type="number"],
.acf-form input[type="tel"],
.acf-form input[type="range"],
.acf-form input[type="date"],
.acf-form input[type="month"],
.acf-form input[type="week"],
.acf-form input[type="time"],
.acf-form input[type="datetime"],
.acf-form input[type="datetime-local"],
.acf-form input[type="color"],
.acf-form input[type="text"][readonly],
.acf-form textarea {
    font-family: 'Roboto Slab Bold';
    -webkit-appearance: none;
    color: #404040;
    border: 3px solid #e1e1e1;
    width: 100%;
    outline: none;
    background: #ededed;
    -o-transition: border .3s ease-in-out;
    -moz-transition: border .3s ease-in-out;
    -webkit-transition: border .3s ease-in-out;
    transition: border .3s ease-in-out;
    height: 45px;
    border-radius: 0px 10px 0px 10px !important;
    padding: 3px 20px !important;
}

.acf-form input[type="text"]:focus,
.acf-form input[type="email"]:focus,
.acf-form input[type="url"]:focus,
.acf-form input[type="password"]:focus,
.acf-form input[type="search"]:focus,
.acf-form input[type="number"]:focus,
.acf-form input[type="tel"]:focus,
.acf-form input[type="range"]:focus,
.acf-form input[type="date"]:focus,
.acf-form input[type="month"]:focus,
.acf-form input[type="week"]:focus,
.acf-form input[type="time"]:focus,
.acf-form input[type="datetime"]:focus,
.acf-form input[type="datetime-local"]:focus,
.acf-form input[type="color"]:focus,
.acf-form input[type="text"][readonly]:focus,
.acf-form textarea:focus {
    border: 3px solid #e2ae69;
}

.acf-field input[type="text"][readonly], 
.acf-field input[type="password"][readonly], 
.acf-field input[type="number"][readonly], 
.acf-field input[type="search"][readonly], 
.acf-field input[type="email"][readonly], 
.acf-field input[type="url"][readonly], 
.acf-field textarea[readonly], 
.acf-field select[readonly] {
    background: #ededed;
}
.acf-form option {
  background: red linear-gradient(0deg, red 0%, red 100%);
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 0;
    border-radius: 8px !important;
    background: #ededed;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #00BCD4;
    color: white;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 45px;
    line-height: 45px;
}
.select2-container--default .select2-selection--single {
    background-color: #ededed;
    border: 3px solid #e1e1e1;
    height: 45px;
    line-height: 45px;
    outline: none;
    border-radius: 0px 10px 0px 10px !important;
}

.acf-form .acf-fields > .acf-field {
    padding: 15px 0;
}
.select2-container--open .select2-dropdown--below {
    border: 1px solid #e1e1e1;
 }
 .acf-table > thead > tr > th {
    border-color: #E1E1E1;
    border-width: 0 0 1px 1px;
    font-family: 'Roboto Slab Bold';
}
.select2-container--open .select2-dropdown--above {
    border: 1px solid #e1e1e1;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 20px;
    font-family: 'Roboto Slab Bold';
}

.select2-results__option[aria-selected] {
    cursor: pointer;
    font-family: 'Roboto Slab';
}

.invc_totalamount_cls .acf-field .acf-label {
    vertical-align: middle;
    margin: 0 15px 0 0;
    float: left;
    line-height: 41px;
}
.modal-title {
    margin: 0;
    font-size: 30px;
    line-height: 1.42857143;
    font-weight: 700;
    color: #2285c6;
}
#modal .modal-header .close {
	display:none;
  /*  float: right;
    font-size: 33px;
    font-weight: 700;
    line-height: 1;
    color: #f2f2f2;
    text-shadow: none;
    filter: alpha(opacity=20);
    opacity: 1; 
    background-color: #2285c6;
    width: 34px;
    margin-top: -28px;
    border-radius: 100%;
    margin-right: -28px; */
	
}
.checkout-btn{
    background-color: #2186c8;
    color: #fff;
    padding: 20px 15px;
    min-width: 150px;
    text-transform: uppercase;
    font-size: 20px;
    float: right;
    text-align: center;
}

.entry-content {
    font-size: 16px;
}