@charset "utf-8";
/* CSS Document */


@media screen and (max-width: 1560px) {
.logo-block-row::before {
	background-size: contain;
}
}
 @media screen and (max-width: 1280px) {
body {
	padding: 50px 25px;
}
.content-section {
	padding: 0px 15px;
}
}
 @media screen and (max-width: 1023px) {
.foot-left-col, .foot-right-col {
	font-size: 24px;
}
.supplier a, .customer a {
	font-size: 24px;
}
.supplier-customer-box-row p {
	font-size: 20px;
}
.customer {
	padding: 40px 0 70px 30px;
}
}
@media screen and (max-width: 767px) {
.top-heading {
	background-size: contain;
	width: 100%;
}
.supplier-customer-box-row {
	margin-bottom: 30px;
}
.supplier-customer-box-row table {
	margin-bottom: 20px;
}
.supplier, .address, .customer {
	min-width: 300px;
}
}
@media screen and (max-width: 640px) {
.top-heading {
	background-size: contain;
	width: 100%;
}
.top-heading h1 {
	font-size: 26px;
}
.logo {
	max-width: 200px;
}
body {
	padding: 50px 15px;
}
}
@media screen and (max-width: 640px) {
.top-heading h1 {
	font-size: 18px;
}
}
