@charset "utf-8";
/* CSS Document */

/*= Reset CSS 
============= */
html, body {
	border: 0;
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
}
a, a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
span {
	text-transform: uppercase;
	color: #ccc;
	font-size: 20px;
	display: block;
}
body {
	font: 14px "Lato", Arial, sans-serif;
	min-width: 100%;
	min-height: 100%;
	color: #666;
	background-color: #e7e7e8;
	padding: 90px 80px;
	line-height: 40px;
}
.content-section {
	background-color: #ffffff;
	padding: 0px 70px;
	border: 1px solid #bdbec1;
	min-height: 600px;
}
.top-heading {
	background: url(../img/ribbon.png) no-repeat center center;
	width: 619px;
	height: 75px;
	background-size: cover;
	text-align: center;
	margin: -37px auto 0;
}
.top-heading h1 {
	color: #fff;
	margin: 0;
	line-height: 70px;
	font-size: 36px;
}
.logo-block-row {
	position: relative;
	text-align: center;
	margin: 10px 0px;
}
.logo-block-row:before {
	position: absolute;
	content: "";
	top: 50%;
	left: 0;
	background: url(../img/logo-block-row-line.png) no-repeat center center;
	width: 100%;
	height: 16px;
	margin-top: -18px;
	z-index: 1;
	background-size: cover;
}
.logo {
	display: inline-block;
	max-width: 300px;
	position: relative;
	z-index: 2;
}
.supplier-customer-box-row table {
	width: 100%;
	border-top: 1px solid #d1d2d4;
	margin-bottom: 50px;
}
.left-colum {
	width: 50%;
	border-right: 1px solid #d1d2d4;
	padding: 0px 0px 0px 15px;
	vertical-align: top;
}
.right-culum {
	width: 50%;
	vertical-align: top;
	padding: 0px;
}
.supplier {
	padding: 50px 0px 15px 0px;
}
.address {
	padding: 15px 0px 15px 0px;
	margin-bottom: 70px;
}
.supplier-customer-box-row span {
	text-transform: uppercase;
	color: #818285;
	font-size: 20px;
	display: block;
	margin-bottom: 10px;
}
.supplier-customer-box-row p {
	font-size: 24px;
	color: #333;
	margin-bottom: 10px;
	line-height: 40px;
}
.supplier a {
	color: #2185c7;
	font-size: 30px;
	display: block;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.address ul {
	list-style: none;
	padding: 0;
}
.address ul li {
	display: block;
}
.address ul li span, .address ul li a {
	display: inline-block;
}
.address ul li a {
	font-size: 24px;
	color: #2186c8;
}
.foot-left-col {
	background: #2186c8;
	padding: 15px 30px;
	font-size: 30px;
	color: #fff;
	border-right: 1px solid #ffffff;
}
.foot-right-col {
	background: #e7e7e8;
	padding: 15px 30px;
	font-size: 30px;
	color: #818285;
	text-align: right;
}
.customer {
	background: #e7e7e8;
	border: 8px solid #bcbdc0;
	padding: 50px 0px 70px 40px;
	max-height: 500px;
	position: relative;
}
.customer:before {
	content: "";
	position: absolute;
	left: -94px;
	top: -8px;
	width: 94px;
	height: 86px;
	background: url(../img/customer-ribon.png) no-repeat;
}
.customer a {
	color: #000;
	font-size: 30px;
	display: block;
	margin-bottom: 10px;
}
.description-amount-table-row table {
	width: 100%;
	margin-bottom: 50px;
	width: 100%;
}
.description-amount-table-row table thead {
	background-color: #231f20;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: normal;
}
.description-amount-table-row table th, .description-amount-table-row table td {
	padding: 15px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
}
.description-amount-table-row .col-description {
	border-right: 4px solid #fff;
}
.description-amount-table-row td.col-description {
	color: #000;
	font-size: 18px;
}
.description-amount-table-row .col-amount {
	text-align: right;
}
.description-amount-table-row td.col-amount {
	color: #2186c8;
	font-size: 18px;
}
.description-amount-table-row > table > tfoot tr td {
	padding: 0;
}
.description-amount-table-row .total {
	background-color: #2186c8;
	color: #fff;
	padding: 20px 15px;
	min-width: 150px;
	text-transform: uppercase;
	font-size: 20px;
	float: right;
	text-align: center;
}
.description-amount-table-row .amount {
	width: 100%;
	border-left: 2px solid #fff;
	text-align: right;
}
.contenteditable {
	padding: 50px 0px;
}
.contenteditable p {
	font-size: 20px;
	color: #818285;
	margin: 0px;
	line-height: 30px;
}
.thank-you-text {
	padding: 25px 0px;
	text-align: center;
	font-size: 30px;
	color: #818285;
	border-top: 1px solid #d1d2d4;
}
